node_modules/
dist/
out/
.cache/
.remotion/
.obsidian/
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
public/input/videos/*
!public/input/videos/.gitkeep
public/input/speakers/*
!public/input/speakers/.gitkeep
public/input/images/*
!public/input/images/.gitkeep
