node_modules/
dist/
out/
.cache/
.remotion/
.obsidian/
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
public/input/videos/*.mp4
public/input/videos/*.mov
public/input/videos/*.mkv
public/input/speakers/*.mp4
public/input/speakers/*.mov
public/input/speakers/*.mkv
